
<div class="header">
	<div class="logo">IRM</div
	><div class="title">Posts by @<%= @influencer.user %></div>
</div>
<div class="page">
	<div class="menu">
		<a href="/influencers">Influencers</a>
		<a href="/tags">Tags</a>
		<a href="/influencers/new">Add Influencer</a>
		<a href="/tags/new">Add Tag</a>
	</div>
	<div class="content">
		
		<table>
			<tr>
				<td>Caption</td>
				<td>No Of Comments</td>
				<td>Likes</td>
				<td>Posted Time</td>

				<td>Location</td>
				<td>Owner Of Post</td>
				<td>Is Video</td>
				<td>Video Views</td>
			</tr>
			<% @influencer.posts.each do |f| %>
			<tr>
				<td><%= f.caption %></td>
				<td><%= f.noOfComments %></td>
				<td><%= f.likes %></td>
				<td><%= f.postedTime %></td>

				<td><%= f.location %></td>
				<td><%= f.ownerOfPost %></td>
				<td><%= f.isVideo %></td>
				<td><%= f.videoViews %></td>
			</tr>
			<% end %>
		</table>

	</div>
</div>


