
<div class="header">
	<div class="logo">IRM</div
	><div class="title">Influencers recently posted with <%= @tags.first.tag_name %> tag (used <%= @tags.first.popularity_of_tag %> times)</div>
</div>
<div class="page">
	<div class="menu">
		<a href="/influencers">Influencers</a>
		<a href="/tags" class="active">Tags</a>
		<a href="/influencers/new">Add Influencer</a>
		<a href="/tags/new">Add Tag</a>
	</div>
	<div class="content">
		
		<table>
			<tr>
				<td>User</td>
				<td>Comment</td>
				<td>Comment Count</td>
				<td>Like Count</td>
				<td>Owner ID</td>
				<td>Date Added</td>
				<td>Accessibility Caption</td>
			</tr>
			<% Tag.all.each do |f| %>
			<tr>
				<td><%= f.user %></td>
				<td><%= f.comment %></td>
				<td><%= f.comment_count %></td>
				<td><%= f.like_count %></td>
				<td><%= f.owner_id %></td>
				<td><%= f.date_added %></td>
				<td><%= f.accessibility_caption %></td>
			</tr>
			<% end %>
		</table>

	</div>
</div>